{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="panel panel-default">
	<div class="panel-heading"> BlueSky 周末问答系列</div>
	<table class="table">
	    <tr><th>#</th><th>标题</th><th>时间</th><th>音频</th></tr>
	    {% for audio in audios %}
	    <tr>
		<td>{{ audio.id }}</td>
		<td>{{ audio.name }}</td>
		<td>{{ audio.create_time }}</td>
		<td>
		    <audio controls="controls">  
			<source src="{{ audio.url }}" /> 
		    </audio>
		</td>
	    </tr>
	    {% endfor %}
	</table>
    </div>
</div>
{% endblock %}
