{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
	<a href="/" class="lang-logo">
	    <img src="https://od.lk/s/NjBfMTc1MDQ3NF8/timg2.jpg">
	</a>
	<h1>BlueSky挽回爱情团队</h1>
	<p>我们致力于为世界上最多人口的国家，提供免费的恋爱咨询和挽回服务。如果你有爱情方面的难题，欢迎联系我们。挽回，就是这么简单。我们致力于为世界上最多人口的国家，提供免费的恋爱咨询和挽回服务。如果你有爱情方面的难题，欢迎联系我们。挽回，就是这么简单。
	</p>
	<a type="button" class="btn btn-lg btn-default" href="#"><span class="glyphicon glyphicon-calendar"></span> 公开课程</a>
	<a type="button" class="btn btn-lg btn-primary" href="#"><span class="glyphicon glyphicon-pushpin"></span> 专业辅导</a>
    </div>
</div>
<div class="container">
    <div class="alert alert-info text-center" role="alert">
	如果你有爱情方面的难题，欢迎联系我们。挽回，就是这么简单。
    </div>
    <hr>
    <div class="row">
	<div class="col-md-6">
	    <h3><span class="glyphicon glyphicon-info-sign"></span> 我们是做什么的</h3>
	    <ul>
		<li>我们成立于1988年，北京。</li>

		<li>我们致力于为xxx提供xxx服务。</li>
		<li>欢迎收听我们在喜马拉雅上的<a href="#">课程</a>。</li>
		<li>截止到2016年1月，我们已经成功地帮助了233对伴侣挽回了他们的爱情。我们已经邀请了23对伴侣来分享他们的<a href="#">成功案例</a>。</li>
		<li>我们出版了x本书籍。</li>
	    </ul>
	</div>
	<div class="col-md-6">
	    <h3><span class="glyphicon glyphicon-link"></span> 团队成员</h3>
	    <ul>
		<li><a href="#">BlueSky</a></li>
		<li><a href="#">塔塔</a></li>
		<li><a href="#">迷藏</a></li>
		<li><a href="#">爸爸</a></li>
		<li><a href="#">妈妈</a></li>
	    </ul>
	</div>
    </div> <!-- row -->
    <div class="alert alert-info text-center" role="alert">
	如果你希望 bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
    </div>
</div>
{% endblock %}
